body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    height: 100vh;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    &[class] {
        text-decoration: none;
    }
}
