@charset "UTF-8";
/**
  Блочна модель
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Прибираємо внутрішні відступи зліва для списків
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Прибираємо зовнішні відступи для body, цитат, підписів та групи полів форми
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Прибираємо зовнішні вертикальні відступи потрібним тегам,
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Прибираємо стандартний маркер списку
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Прибираємо зовнішні вертикальні відступи,
  створюємо локальну змінну для зовнішнього відступу вниз,
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Робимо зовнішній відступ вниз для не останнього параграфа без класу
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Нормалізуємо зображення та відео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Успадковуємо шрифт для потрібних тегів
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  /**
   Налаштування скролбару та скролу
  */
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

/**
  Нормалізація розмірів посилання
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-палець при наведенні
 */
button,
label {
  cursor: pointer;
}

/**
  Прибрає сіре підсвічування при тапі на мобільних пристроях
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приодимо до єдиного кольору svg-елементи
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

/**
  Приведення рамок таблиць у класичний 'collapse' вигляд
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Прибираємо аніміації для тих хто їх не використовує
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-dark: #2d2d2d;
  --color-light: #ffffff;
  --color-light-10: #e3e3e3;
  --color-gray: #878787;
  --color-accent: #ba3737;
  --font-family: Verdana, Tahoma, sans-serif;
  --transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(260px, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  background-color: var(--color-light);
  padding: 2% 5%;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

.newsCard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid var(--color-gray);
  transition-duration: var(--transtion-duration);
}
.newsCard:first-of-type {
  grid-column: 1/2;
  grid-row: 1/4;
  align-self: start;
}
.newsCard:not(:first-of-type) {
  grid-column: 2/3;
  grid-row: auto;
  font-size: 8px;
}
.newsCard.is-active {
  background-color: var(--color-light-10);
  border: 2px solid var(--color-accent);
}
.newsCard__header {
  display: flex;
  position: relative;
}
.newsCard__image {
  width: 100%;
  height: 12em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.newsCard__like-btn {
  position: absolute;
  right: 1em;
  bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: none;
  border-radius: 50%;
}
.newsCard__like-btn.is-active {
  color: var(--color-accent);
  background-color: var(--color-light);
  border: 2px solid var(--color-accent);
}
.newsCard__delete-btn {
  position: absolute;
  right: 1em;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  color: var(--color-light);
  background-color: var(--color-gray);
  border: none;
  border-radius: 50%;
}
.newsCard__body-title {
  font-size: 2em;
  padding-block: 1em;
  border-bottom: 2px solid var(--color-accent);
}
.newsCard__body-info {
  padding-block: 1em;
}
.newsCard__footer {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */